.light-font {
  font-family: 'Roboto';
  font-size: 20px;
}

.heavy-font {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 64px;
}

.underline {
  border-bottom: 2px solid rgba(255, 255, 255, 0.92);
  width: 0%;
  float: inherit;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  display: block;
}

.center {
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  vertical-align: middle;
}

.centered {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
}

.links {
  display: inline-block;
}

li {
  font-family: 'Roboto';
  display: inline-block;
  padding: 8px;
  font-size: 24px
}

ul {
  list-style: none;
  list-style-type: none;
  white-space: nowrap;
}

.disabled {
  pointer-events: none;
}

.hidden {
  display: none;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.blue-text {
  color: #5d90dd;
}
