RewriteEngine on
RewriteRule ^(.*\.git.*)$ https://github.com/acrylic-style/$1 [R=301]
Header set Access-Control-Allow-Origin "*"
<FilesMatch "config.php|config.php.example">
Require all denied
</FilesMatch>
